.bicicletas {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.bicicletas-imagem {
  display: grid;
}

.bicicletas-imagem img {
  grid-area: 1/1;
}

.bicicletas-imagem span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  padding: 8px 16px 8px 8px;
  background: var(--cor-12);
  display: inline-block;
  border-radius: 4px 0px 0px 4px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
  gap: 20px;
}

.bicicletas-conteudo h2,
.bicicletas-conteudo p {
  grid-column: 1/-1;
}

.bicicletas-conteudo h2::before {
  content: "";
  width: 12px;
  height: 8px;
  display: block;
  background-color: var(--cor-p1);
  margin-bottom: 10px;
  gap: 20px;
}

.bicicletas-conteudo ul {
  display: grid;
  gap: 12px;
}

.bicicletas-conteudo li {
  display: flex;
  align-items: center;
  gap: 12px;
}

.bicicletas-conteudo li img {
  width: 26px;
}

.bicicletas-conteudo a {
  align-self: end;
}

.bicicletas-bg {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}

@media (max-width: 800px) {
  .bicicletas {
    grid-template-columns: 1fr;
  }

  .bicicletas-bg {
    background: var(--cor-11);
  }
}

@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }

  .bicicletas-conteudo ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
    margin-bottom: 10px;
  }
}
