* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

h1 {
  margin: 0px;
}

body {
  color: #111;
}

img {
  max-width: 100%;
  display: block;
}

[src$=".jpg"] {
  border-radius: 4px;
}

a {
  color: inherit;
}
