.bicicleta-bg {
  background-color: var(--cor-11);
}

.bicicleta-nimbus {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.bicicleta-imagens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: flex-start;
  gap: 20px;
}

.bicicleta-imagens img:nth-child(1) {
  grid-column: 1/-1;
}

.bicicleta-conteudo > p {
  margin-bottom: 40px;
}

.bicicleta-botao {
  display: grid;
  grid-template-columns: max-content auto;
  justify-items: start;
  gap: 8px;
  margin-bottom: 40px;
}

.bicicleta-botao a {
  grid-row: span 2;
  align-self: center;
}

.bicicleta-botao span {
  display: flex;
  align-items: center;
  background-color: var(--cor-12);
  padding: 4px 8px;
  border-radius: 4px;
  gap: 8px;
}

.bicicleta-informacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 32px;
  background-color: var(--cor-12);
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 40px;
}

.bicicleta-informacoes li {
  display: grid;
  gap: 8px;
}

.bicicleta-informacoes img {
  width: 26px;
}

.bicicleta-ficha {
  display: grid;
  padding: 32px;
  background-color: var(--cor-12);
  border-radius: 4px;
  margin-top: 8px;
}

.bicicleta-ficha li {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  border-bottom: 1px solid var(--cor-11);
}

.bicicleta-ficha li:last-child {
  border-bottom: none;
}

@media (max-width: 920px) {
  .bicicleta-imagens {
    grid-template-columns: 1fr;
  }

  .bicicleta-botao span {
    font-size: 0.7rem;
  }
}

@media (max-width: 800px) {
  .bicicleta-nimbus {
    grid-template-columns: 1fr;
  }

  .bicicleta-imagens {
    grid-row: 2;
  }

  .bicicleta-bg .titulo-container {
    padding-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .bicicleta-informacoes {
    grid-template-columns: 1fr;
  }
}
