.parceiros {
  padding: 60px 0 120px 0;
}

.parceiros h2 {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-bottom: 30px;
}

.parceiros ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.parceiros li {
  display: flex;
  place-content: center;
  border-left: 2px solid var(--cor-2);
}

.parceiros li:first-child {
  border-left: none;
}

.parceiros li:nth-child(5) {
  border-left: none;
}

.parceiros li:nth-child(n + 5) {
  border-top: 2px solid var(--cor-2);
}

.parceiros li {
  padding: 40px;
}

@media (max-width: 800px) {
  .parceiros ul {
    grid-template-columns: 1fr 1fr;
  }

  .parceiros li {
    padding: 20px;
  }

  .parceiros li:first-child,
  .parceiros li:nth-child(2) {
    border-bottom: 2px solid var(--cor-2);
  }

  .parceiros li:nth-child(odd) {
    border-left: none;
  }
}
